#dailyPlanner {
background-color: lightskyblue;

}
.form-control {
background-color: lightpink;
}

.currentMoment {
position: right 


}

td {
    display: table-cell;
    vertical-align: inherit;
  }

body {
background-color: grey;

}
header {
background-color: grey;

}
footer {
background-color: grey;

}